:root {
  /*--document-color:#253155;*/
  /* --document-color: rgb(43, 45, 63); */
  /* --document-color: linear-gradient(rgb(255, 123, 0), rgb(243, 255, 81)); */

  --dark-blue: rgb(39, 29, 51);
  --custom-color: rgb(141, 139, 139);
  --light-blue: rgb(168, 227, 255);
  --color-6: #2f2f2f;
  --text-color: rgb(177, 176, 176);
  /* --page-background: #3d3d3d; */
  --page-background: linear-gradient(180deg, #313131, rgb(32, 32, 32)),
    rgb(32, 32, 32);
  --page-background-static: rgb(44, 44, 44);
  --page-background-reverse: linear-gradient(0deg, #313131, rgb(32, 32, 32)),
    rgb(32, 32, 32);

  --page-background-transparent: rgba(25, 23, 46, 0.9);
  --document-color: var(--color-6);
  /* --document-color: var(--custom-color); */
  --header-color: var(--color-6);
  --header-text: #6d6d6d;
  --nav-color: var(--page-background-static);

  --document-container: var(--dark-blue);
  --default-duration: 0.5s;
  --duration-longer: 0.9s;
  /* --default-timing: cubic-bezier(0, 0, 0.25, 0.25, 0.5, 5, 0.8, 0.8, 1, 1); */
  /* --default-timing: cubic-bezier(0.23, 0.67, 0.94, 0.95) ; */
  --default-timing: cubic-bezier(0.1, 0.4, 0.5, 0.9, 0.85, 1.4);
  /* --slider-timing: cubic-bezier(0, 0.28, 0.6, 0.7, 0.8, 1); */
  /* --slider-timing: cubic-bezier(0.23, 0.67, 0.94, 0.95); */
  --slider-timing: cubic-bezier(0.1, 0.4, 0.5, 0.9, 0.85, 1.4);

  --default-delay: 0.3s;
  --slider-delay: 1310ms;

  --elements-transition: linear;
  --default-timing-navbar: cubic-bezier(
    0.15,
    0.5,
    0.35,
    0.5,
    0.85,
    0.5,
    1,
    1
  ) !important;

  --about-color: #371cb6;
  --portfolio-color: orange;
  --contact-color: green;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  background: var(--light-blue);
  color: var(--text-color);
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
  position: fixed;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
h1,
p {
  color: var(--text-color) !important;
}
p {
  font-size: 1.3rem;
}
canvas {
  background-color: #2c343f;
  width: 100%;
  height: 100%;
}

/*              HEADER          */
#header {
  position: fixed;
  justify-self: flex-end;
  align-self: flex-end;
  top: -100vh;
  background: var(--header-color);
  width: 100vw;
  height: 100vh;
  z-index: 30;
  font-size: 2rem !important;
  /* transition: var(--elements-transition); */
  transition-duration: var(--default-duration);
  transition-delay: var(--default-delay);
  transition-timing-function: var(--slider-timing);
  border-bottom: 0.2px solid gray;
}
#header-box {
  justify-self: flex-end;
  align-self: flex-end;
  top: -100vh;
  background: var(--header-color);
  width: 100vw;
  height: 100vh;
  z-index: 30;
  font-size: 2rem !important;
  /* transition: var(--elements-transition); */
  transition-duration: var(--default-duration);
  transition-delay: var(--default-delay);
  transition-timing-function: var(--slider-timing);
}
#nav {
  max-width: 600px;
  max-height: 100vh;
  min-height: 70vh;
  background: var(--nav-color);
  overflow: hidden;
  transition-duration: var(--elements-transition);
  font-size: 2.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 0 !important;
}
#nav-list {
  list-style-type: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: auto !important;
  height: 70vh;
  width: 100%;
  color: var(--header-text);
}
.listItem {
  cursor: pointer;
  max-width: 600px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  height: 25%;
  transition: var(--elements-transition-slow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.listItem a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
  transition-duration: var(--default-duration);
  transition-timing-function: cubic-bezier(0.43, 0.77, 0.89, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.listItem a::before,
.listItem a::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 10vh;
  width: 25vw;
  background: white;
}
.listItem a::before {
  background-color: black;
}
.listItem a::after {
  background-color: rgb(120, 123, 129);
}

#next-toggle {
  position: fixed;
  top: 25%;
  right: 0;
  left: auto;
  cursor: pointer;
  z-index: 17;
  height: 50%;
  width: 159px;
  transition: var(--elements-transition);
  transform: rotate(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#previous-toggle {
  position: fixed;
  top: 25%;
  left: 0px;
  right: auto;
  cursor: pointer;
  z-index: 17;
  height: 50%;
  width: 159px;
  transition: var(--elements-transition);
  transform: rotate(0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.next-span {
  display: block;
  width: 159px;
  height: 53px;
  border-radius: 25px;
}
.previous-span {
  display: block;
  width: 159px;
  height: 53px;
  margin-top: 18px;
  border-radius: 25px;
}
.next-toggle-before {
  opacity: 0;
  font-size: 1.5em;
  position: absolute;
  right: -40px;
  width: 130px;
  height: 50px;
  top: calc(45% + 5px);
  left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 16;
  font-weight: 500;
}
.previous-toggle-before {
  opacity: 0;
  font-size: 1.5em;
  position: absolute;
  left: -40px;
  right: auto;
  width: 130px;
  height: 50px;
  top: calc(45% + 12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 16;
  font-weight: 500;
}
#next-toggle:hover {
  /* width: 170px; */
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: blue; */
}

.i1,
.i2 {
  display: block;
  height: 2px;
  left: 0;
  width: 29px;
  background-color: var(--text-color);
  transition: transform 0.15s cubic-bezier(0.43, 0.77, 0.75, 1);
  transform-origin: top;
}
.previous-span:nth-child(n) {
  margin-right: -80px;
}
.next-span:nth-child(n) {
  margin-left: 160px;
}
#next-toggle .i1 {
  margin-top: 10px;
  transform: rotate(45deg);
}
#next-toggle .i2 {
  margin-top: 17px;
  transform: rotate(-45deg);
  transform-origin: bottom;
}
#previous-toggle .i1 {
  margin-top: 10px;
  transform: rotate(-45deg);
}
#previous-toggle .i2 {
  margin-top: 17px;
  transform: rotate(45deg);
  transform-origin: bottom;
}
#navbar-toggle {
  position: fixed;
  top: 37px;
  right: 43px;
  cursor: pointer;
  z-index: 41;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  border-radius: 50%;
  transition-timing-function: var(--default-timing);
}

.inner-element {
  height: 2px;
  width: 60%;
  background-color: var(--text-color);
  transition-timing-function: var(--default-timing-navbar);
  transition-duration: 0.14s;
  position: absolute;
}
#navbar-icon :nth-child(1) {
  position: absolute;
  top: 38%;
}
#navbar-icon :nth-child(2) {
  position: absolute;
  top: 50%;
}
#navbar-icon :nth-child(3) {
  position: absolute;
  top: 50%;
}
#navbar-icon :nth-child(4) {
  position: absolute;
  top: 62%;
}

#navbar-toggle-icon {
  width: 100%;
  height: 100%;
}

@keyframes navbar-click {
  0% {
  }
  50% {
  }
  100% {
  }
}
/*              /HEADER          */

/*MAIN            */
main {
}
.scene {
  width: 100vw;
  height: 100vh;
  perspective: 640px;
  overflow: hidden;
}

.box {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  transition-duration: var(--default-duration);
  /* transition-delay: var(--default-delay); */
  transition-delay: var(--default-delay);

  transition-timing-function: var(--default-timing);
  /* transition-duration: 3s;
  transition-delay: 2s; */
}

.box__face {
  position: absolute;
  /* border: 6px solid var(--light-blue); */
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  --document-color-darker: var(--page-background);
  /* --document-color-darker: rgba(51, 51, 51, 0); */
}

.box__face--front,
.box__face--back {
  width: 100vw;
  height: 100vh;
}

.box__face--right,
.box__face--left {
  width: 100vw;
  height: 100vh;
}

.box__face--top,
.box__face--bottom {
  width: 100vw;
  height: 200vw;
}

.box__face--front {
  background: var(--document-color-darker);
}
.box__face--right {
  background: var(--document-color-darker);
}
.box__face--back {
  background: var(--document-color-darker);
}
.box__face--left {
  background: var(--document-color-darker);
}
.box__face--top {
  background: var(--document-color-darker);
}
.box__face--bottom {
  background: var(--document-color-darker);
}

.box__face--front {
  transform: rotateY(0deg) translateZ(0px);
}
.box__face--back {
  transform: rotateY(180deg) translateZ(100vw);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
}
.box__face--left {
  transform: rotateY(-90deg) translateZ(50vw) translateX(-50vw);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(100vw) translateY(-100vw);
}
.box__face--bottom {
  transform: rotateX(-90deg) translateZ(75vh) translateY(50vw);
  visibility: hidden;
}
.box.show-front {
  transform: translateZ(0px) rotateY(0deg);
}
.box.show-back {
  transform: translateZ(-100vw) rotateY(-180deg);
}
.box.show-right {
  transform: translateZ(-50vw) translateX(-50vw) rotateY(-90deg);
}
.box.show-left {
  transform: translateZ(-50vw) translateX(50vw) rotateY(90deg);
}
.box.show-top {
  transform: translateZ(-50vh) translateY(50vh) rotateX(-90deg);
}
.box.show-bottom {
  transform: translateZ(-50vh) translateY(-50vh) rotateX(90deg);
}

.rotate-right {
  transform: rotateY(-90deg);
}
.page-slider {
  width: 500vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  grid-template-rows: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* transition-duration: var(--default-duration); */
  transition-duration: var(--default-duration);
  transition-delay: var(--slider-delay);
  transition-timing-function: var(--slider-timing);
}
.page-slider section {
  transition-duration: var(--default-duration);
  /* transition-delay: var(--default-delay); */
  transition-delay: var(--slider-delay);
  transition-timing-function: var(--slider-timing);
}
.page {
  width: 100vw;
  height: 100vh;
  background-color: var(--document-color);
  position: relative;
  overflow: hidden;
}
.page-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--document-color);
}
.page-bg {
  /* h: 50vw; */
  position: absolute;
  left: 0;
  background: var(--page-background);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  --dark-blue: rgb(18, 39, 71);
}
.page-bg-container {
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 30vh;
  left: 0;
  background-color: var(--page-background);
}
.page-bg-bg-container {
  position: absolute;
  top: -100vh;
  width: 32vh;
  height: 100vh;
  left: 0;
  background-color: var(--page-background);
}
/* .page-bg-bg {
  width: 50%;
  position: relative;
  left: 0%;
  top: 0%;
  height: 50%;
  background: var(--dark-blue);
  z-index: 25;
  border-top-left-radius: 150px;
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/90/58/red-triangle-tile-mosaic-pattern-background-vector-16319058.jpg");
  background-size: contain;
  opacity: 0.5;
}
@keyframes rotation {
  100% {
    transform: rotateZ(360deg);
  }
}
.page-bg-bg-2 {
  width: 50%;
  position: relative;
  left: 50%;
  top: 0%;
  height: 50%;
  background: var(--dark-blue);
  z-index: 25;
  border-bottom-right-radius: 150px;
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/91/25/geometric-triangle-tile-mosaic-pattern-background-vector-16319125.jpg");
  background-size: contain;
  opacity: 0.5;
} */

#box-front {
  transition-delay: 0s;
  transition-duration: 0s;
}
#about-page .page-bg {
  /* clip-path: polygon(53% 0, 100% 0, 100% 70%, 0 100%, 0 100%, 0% 60%, 0 0); */
}

#portfolio-page .page-bg {
  /* clip-path: polygon(53% 0, 100% 0, 100% 60%, 0 100%, 100% 100%, 0% 60%, 0 0); */
}
#contact-page .page-bg {
  /* clip-path: polygon(
    0 0,
    39% 0,
    92% 5%,
    100% 39%,
    100% 100%,
    30% 100%,
    41% 50%,
    0 60%
  ); */
}
#skills-page .page-bg-bg {
  top: 50vh;
  left: 50vw;
  height: 45vh;
  width: 45vw;
  border-top-right-radius: 150px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 150px;
}
#skills-page .page-bg-bg-2 {
  left: 5vw;
  top: 5vh;
  height: 45vh;
  width: 45vw;
  border-top-left-radius: 0;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 150px;
}
.page-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

@keyframes show {
  100% {
    opacity: 0;
  }
}
.hidden {
  visibility: hidden;
}
.row {
  display: flex;
}
/*  about   */
/*  begin   */
#about-page {
  left: 100vw;
}
#skills-page {
  left: 100vw;
}
#portfolio-page {
  left: 100vw;
}
#contact-page {
  left: 100vw;
}
.card {
  border: none;
  background: rgba(25, 23, 46, 0.6);
}
.page-inner {
  background: inherit;
  padding: 0.5em;
}
.page-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  bottom: auto;
}
#box-front {
}

.row {
  margin: 0 !important;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #next-toggle {
    display: none;
  }
  #previous-toggle {
    display: none;
  }
  .page-inner {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.36em;
  }
  #nav {
    font-size: 1.9rem;
    min-height: 100vh;
  }
  #navbar-toggle {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    background: #43434e;
    /* top: auto;
    bottom: 30px;
    right: 30px; */
  }
  #next-toggle {
    display: none;
  }
  .page-inner {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/*!*  about   *!*/
/*!*  end   *!*/

/*#portfolio{*/

/*background-color: var(--document-color)*/
/*}*/
/*#contact{*/

/*background-color:var(--document-color);*/
/*}*/

/*              /MAIN           */

.test-button {
  position: fixed;
  z-index: 50000;
  background: black;
  width: 150px;
  height: 50px;
  top: 50px;
  left: 50px;
  color: white;
}
