:root {
  /*--document-color:#253155;*/
  /* --document-color: rgb(43, 45, 63); */
  /* --document-color: linear-gradient(rgb(255, 123, 0), rgb(243, 255, 81)); */

  --dark-blue: rgb(48, 51, 78);
  --custom-color: rgb(141, 139, 139);
  --light-blue: rgb(168, 227, 255);
  --color-6: #303038;
  --text-color: white;
  --page-background: #1d1d27;
  --page-background-transparent: rgba(25, 23, 46, 0.9);
  --document-color: var(--color-6);
  /* --document-color: var(--custom-color); */
  --header-color: #1d1d27;
  --nav-color: #23232a;

  --document-container: var(--dark-blue);
  --default-duration: 0.5s;
  --duration-longer: 0.9s;
  /* --default-timing: cubic-bezier(0, 0, 0.25, 0.25, 0.5, 5, 0.8, 0.8, 1, 1); */
  --default-timing: cubic-bezier(0.43, 0.77, 0.89, 1);
  /* --slider-timing: cubic-bezier(0, 0.28, 0.6, 0.7, 0.8, 1); */
  --slider-timing: cubic-bezier(0.43, 0.77, 0.84, 1);

  --default-delay: 0.23s;

  --about-color: #371cb6;
  --portfolio-color: orange;
  --contact-color: green;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  background: var(--light-blue);
  color: var(--text-color);
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
h1,
p {
  color: var(--text-color) !important;
}
canvas {
  vertical-align: top;
}

/*              HEADER          */
#header {
  position: fixed;
  justify-self: flex-end;
  align-self: flex-end;
  top: -100vh;
  background: var(--header-color);
  width: 100vw;
  height: 100vh;
  z-index: 40;
  font-size: 2rem !important;
  /* transition: var(--elements-transition); */
  transition-duration: var(--default-duration);
  transition-delay: var(--default-delay);
  transition-timing-function: var(--slider-timing);
}
#header-box {
  justify-self: flex-end;
  align-self: flex-end;
  top: -100vh;
  background: var(--header-color);
  width: 100vw;
  height: 100vh;
  z-index: 40;
  font-size: 2rem !important;
  /* transition: var(--elements-transition); */
  transition-duration: var(--default-duration);
  transition-delay: var(--default-delay);
  transition-timing-function: var(--slider-timing);
}
#nav {
  max-width: 70vw;
  max-height: 85vh;
  min-height: 70vh;
  background: var(--nav-color);
  overflow: hidden;
  transition-duration: var(--elements-transition);
  font-size: 2.4rem;
  font-weight: 600;
}
#nav-list {
  list-style-type: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0 !important;
  height: 70vh;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.listItem {
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  height: 15%;
  transition: var(--elements-transition-slow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.listItem a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit;
  transition-duration: var(--default-duration);
  transition-timing-function: cubic-bezier(0.43, 0.77, 0.89, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#next-toggle {
  position: fixed;
  top: 45%;
  right: 63px;
  left: auto;
  cursor: pointer;
  z-index: 17;
  height: 59px;
  width: 59px;
  transition: var(--elements-transition);
  transform: rotate(0);
}
#next-toggle:hover {
  /* width: 170px; */
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background-color: blue; */
}
#previous-toggle {
  position: fixed;
  top: 45%;
  left: 63px;
  right: auto;
  cursor: pointer;
  z-index: 17;
  height: 59px;
  width: 59px;
  transition: var(--elements-transition);
  transform: rotate(0);
}
#next-toggle ::before,
#next-toggle ::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 25%;
  width: 67%;
  background-color: white;
  transition: transform 0.45s cubic-bezier(0.43, 0.77, 0.15, 1.5),
    background 0.3s ease;
}
#next-toggle ::before {
  top: 31%;
  transform: rotate(-145deg);
}
#next-toggle ::after {
  top: 69%;
  transform: rotate(145deg);
}
#navbar-toggle {
  position: fixed;
  top: 37px;
  right: 63px;
  cursor: pointer;
  z-index: 41;
  height: 60px;
  width: 90px;
  transition: var(--elements-transition);
  transform: rotate(0);

  border-radius: 50%;
}
.inner-element {
  height: 2px;
  width: 25px;
  background-color: white;
}
#navbar-icon :nth-child(n) {
  position: absolute;
  width: 50%;
  transition-timing-function: var(--default-duration);
  transition-duration: 0.55s;
}
#navbar-icon :nth-child(1) {
  position: absolute;
  top: 38%;
}
#navbar-icon :nth-child(2) {
  position: absolute;
  top: 50%;
}
#navbar-icon :nth-child(3) {
  width: 1px;
  position: absolute;
  top: 50%;
}
#navbar-icon :nth-child(4) {
  position: absolute;
  top: 62%;
}
#navbar-toggle:hover {
}
#navbar-toggle-icon {
  width: 100%;
  height: 100%;
}

@keyframes navbar-click {
  0% {
  }
  50% {
  }
  100% {
  }
}
/*              /HEADER          */

/*MAIN            */
main {
}
.scene {
  width: 100vw;
  height: 100vh;
  perspective: 640px;
  overflow: hidden;
}

.box {
  width: 100vw;
  height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  transition-duration: var(--default-duration);
  /* transition-delay: var(--default-delay); */
  transition-delay: var(--default-delay);

  transition-timing-function: var(--default-timing);
  /* transition-duration: 3s;
  transition-delay: 2s; */
}

.box__face {
  position: absolute;
  /* border: 6px solid var(--light-blue); */
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  --document-color-darker: rgba(75, 59, 33, 0.637);
}

.box__face--front,
.box__face--back {
  width: 100vw;
  height: 100vh;
}

.box__face--right,
.box__face--left {
  width: 100vw;
  height: 100vh;
}

.box__face--top,
.box__face--bottom {
  width: 100vw;
  height: 200vw;
}

.box__face--front {
  background: var(--document-color-darker);
}
.box__face--right {
  background: var(--document-color-darker);
}
.box__face--back {
  background: var(--document-color-darker);
}
.box__face--left {
  background: var(--document-color-darker);
}
.box__face--top {
  background: var(--document-color-darker);
}
.box__face--bottom {
  background: var(--document-color-darker);
}

.box__face--front {
  transform: rotateY(0deg) translateZ(0px);
}
.box__face--back {
  transform: rotateY(180deg) translateZ(100vw);
}

.box__face--right {
  transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
}
.box__face--left {
  transform: rotateY(-90deg) translateZ(50vw) translateX(-50vw);
}

.box__face--top {
  transform: rotateX(90deg) translateZ(100vw) translateY(-100vw);
}
.box__face--bottom {
  transform: rotateX(-90deg) translateZ(75vh) translateY(50vw);
  visibility: hidden;
}
.box.show-front {
  transform: translateZ(0px) rotateY(0deg);
}
.box.show-back {
  transform: translateZ(-100vw) rotateY(-180deg);
}
.box.show-right {
  transform: translateZ(-50vw) translateX(-50vw) rotateY(-90deg);
}
.box.show-left {
  transform: translateZ(-50vw) translateX(50vw) rotateY(90deg);
}
.box.show-top {
  transform: translateZ(-50vh) translateY(50vh) rotateX(-90deg);
}
.box.show-bottom {
  transform: translateZ(-50vh) translateY(-50vh) rotateX(90deg);
}

.rotate-right {
  transform: rotateY(-90deg);
}
.page-slider {
  width: 500vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw 100vw 100vw 100vw 100vw;
  grid-template-rows: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  /* transition-duration: var(--default-duration); */
  transition-duration: var(--default-duration);
  transition-delay: var(--default-delay);
  transition-timing-function: var(--slider-timing);
}
.page-slider section {
  transition-duration: var(--default-duration);
  /* transition-delay: var(--default-delay); */
  transition-delay: 1340ms;
  transition-timing-function: var(--slider-timing);
}
.page {
  width: 100vw;
  height: 100vh;
  background-color: var(--document-color);
  position: relative;
}
.page-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--document-color);
}
.page-bg {
  width: 100vw;
  height: 100vh;
  background: var(--page-background);
  z-index: 0;
}

#box-front {
  transition-delay: 0s;
  transition-duration: 0s;
}
#about-page .page-bg {
  clip-path: polygon(53% 0, 100% 0, 100% 70%, 0 100%, 0 100%, 0% 60%, 0 0);
}

#portfolio-page .page-bg {
  clip-path: polygon(53% 0, 100% 0, 100% 60%, 0 100%, 100% 100%, 0% 60%, 0 0);
}
#contact-page .page-bg {
  clip-path: polygon(
    0 0,
    39% 0,
    92% 5%,
    100% 39%,
    100% 100%,
    30% 100%,
    41% 50%,
    0 60%
  );
}
#skills-page .page-bg {
  clip-path: polygon(
    57% 0,
    79% 0,
    100% 0,
    100% 21%,
    100% 26%,
    100% 100%,
    100% 100%,
    0 70%,
    0% 35%,
    0 0
  );
}
.page-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

@keyframes show {
  100% {
    opacity: 0;
  }
}
.hidden {
  visibility: hidden;
}
.row {
  display: flex;
}
/*  about   */
/*  begin   */
#about-page {
  left: 100vw;
}
#skills-page {
  left: 100vw;
}
#portfolio-page {
  left: 100vw;
}
#contact-page {
  left: 100vw;
}
.card {
  border: none;
  background: rgba(25, 23, 46, 0.6);
}
.page-inner {
  background: inherit;
  margin-top: 10%;
  margin-bottom: 10%;

  padding: 0.5em;
}
.page-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  bottom: auto;
}
#box-front {
}

.row {
  margin: 0 !important;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #about-content {
  }
  #next-toggle {
    display: none;
  }
  .page-inner {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.36em;
  }
  #nav {
    font-size: 2rem;
  }
  #about-content {
  }
  #navbar-toggle {
    top: auto;
    bottom: 30px;
    right: 30px;
  }
  #next-toggle {
    display: none;
  }
  .page-inner {
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/*!*  about   *!*/
/*!*  end   *!*/

/*#portfolio{*/

/*background-color: var(--document-color)*/
/*}*/
/*#contact{*/

/*background-color:var(--document-color);*/
/*}*/

/*              /MAIN           */

.test-button {
  position: fixed;
  z-index: 50000;
  background: black;
  width: 150px;
  height: 50px;
  top: 50px;
  left: 50px;
  color: white;
}
