:root {
    /*--document-color:#253155;*/
    /* --document-color: rgb(43, 45, 63); */
    /* --document-color: linear-gradient(rgb(255, 123, 0), rgb(243, 255, 81)); */

    --dark-blue: rgb(39, 29, 51);
    --custom-color: rgb(141, 139, 139);
    --light-blue: rgb(226, 226, 226);
    --color-6: #2f2f2f;

    --primary-gray: #324a5e;
    --lightest-gray:#fafafa;
    --light-gray: #292d3e;
    --midle-gray: #292d3e;
    --dark-gray: #1b1e2b;
    --sup-gray: #242736;

    --text-color: #7bc3e4;

      $text-color : rgb(123,195,228);
    --text-color-2:#A8C780;
    --text-important: rgb(151, 115, 183); /* #d47c65; /* #b3455e; /* #b5d787; * */
    /* --page-background: #3d3d3d; */
    --text-warning: #d6ad62;
    --text-warning-2:#C37460;
    --text-danger: #b3455e;
    --page-background: linear-gradient(
        180deg,
        var(--midle-gray),
        var(--dark-gray)
      ),
      var(--dark-gray);
    --page-background-triple: linear-gradient(
        180deg,
        var(--light-gray),
        var(--dark-gray),
        var(--dark-gray)
      ),
      var(--dark-gray);
    --page-background-static: var(--dark-gray);
    --page-background-reverse: linear-gradient(
        0deg,
        var(--midle-gray),
        var(--dark-gray)
      ),
      var(--dark-gray);

    --page-background-transparent: rgba(25, 23, 46, 0.9);
    --document-color: var(--color-6);

    // --shadow:
    // -6px -6px 6px 0 #9b9b9b0e,
    // 6px 6px 6px 0 rgba(0,0,0,.3);
    --shadow:  6px 6px 6px 0 rgba(0,0,0,.3),-6px -6px 6px 0 #5050500e;
    //--shadow-md: -10px -10px 10px 0 #9b9b9b0e,
    //12px 12px 12px 0 rgba(0,0,0,.3);
  --shadow-md: 0px 0px 0px 0px rgba(255,255,255,.15);
    --shadow-md-dark:12px 12px 12px 0 rgba(0,0,0,.3);
    /* --document-color: var(--custom-color); */
    --header-color: var(--page-background-static);
    --header-text: var(--text-color);
    --nav-color: var(--midle-gray);
    --transparent: rgba(255, 255, 255, 0);

    --document-container: var(--dark-blue);
    --default-duration: 0.5s;
    --duration-longer: 0.9s;
    /* --default-timing: cubic-bezier(0, 0, 0.25, 0.25, 0.5, 5, 0.8, 0.8, 1, 1); */
    /* --default-timing: cubic-bezier(0.23, 0.67, 0.94, 0.95) ; */

    /* --default-timing: cubic-bezier(0.1, 0.2, 0.5, 0.4, 0.65, 1.8); */
    --default-timing: ease-in-out;

    /* --slider-timing: cubic-bezier(0, 0.28, 0.6, 0.7, 0.8, 1); */
    /* --slider-timing: cubic-bezier(0.23, 0.67, 0.94, 0.95); */

    /* --slider-timing: cubic-bezier(0.1, 0.2, 0.5, 0.4, 0.65, 1.8); */
    --slider-timing: ease-in-out;

    --default-delay: 0.3s;
    --slider-delay: 1330ms;


--el-border-radius:1.5rem;

    --elements-transition: linear;
    --default-timing-navbar: cubic-bezier(
      0.15,
      0.5,
      0.35,
      0.5,
      0.85,
      0.5,
      1,
      1
    ) !important;
    font-size: 14px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  body {
    font-family:"Space Mono", "Montserrat", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif !important;
    background: var(--light-blue);
    color: var(--text-color);
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden;

    line-height: 1.7em;
    font-weight: 300;
    position: fixed;
  }
  h1 {
    font-size: 2.1rem;
    font-weight: 600;
  }
  h1,
  p {
    color: var(--text-color) !important;
  }
  p {
    font-size: 1.7rem;
  }
  canvas {
    background-color: #2c343f;
    width: 100%;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--page-background-static);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
  }
  .transparent {
    color: var(--transparent);
  }

  /*              HEADER          */
  #header {
    position: fixed;
    justify-self: flex-end;
    align-self: flex-end;
    top: -100vh;
    background: var(--header-color);
    width: 100vw;
    height: 100vh;
    z-index: 30;
    font-size: 2rem !important;
    /* transition: var(--elements-transition); */
    transition-duration: var(--default-duration);
    transition-delay: var(--default-delay);
    transition-timing-function: var(--slider-timing);
    border-bottom: 0.2px solid gray;
  }
  #header-box {
    justify-self: flex-end;
    align-self: flex-end;
    top: -100vh;
    background: var(--header-color);
    width: 100vw;
    height: 100vh;
    z-index: 30;
    font-size: 2rem !important;
    /* transition: var(--elements-transition); */
    transition-duration: var(--default-duration);
    transition-delay: var(--default-delay);
    transition-timing-function: var(--slider-timing);
  }
  #nav {
    max-width: 600px;
    max-height: 100vh;
    min-height: 70vh;
    background: var(--nav-color);
    overflow: hidden;
    transition-duration: var(--elements-transition);
    font-size: 2.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 0 !important;
  }
  #nav-list {
    list-style-type: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: auto !important;
    height: 70vh;
    width: 100%;
    color: var(--header-text);
    /* overflow: hidden; */
    position: relative;
  }
  .listItem {
    cursor: pointer;
    max-width: 600px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    height: 25%;
    transition: var(--elements-transition-slow);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-page .link-highlighted {
    font-weight: 800;
    padding: 5px 10px;;
    border-radius: 3px;
    transition: 250ms 100ms ease-in-out;
    overflow: hidden;
    top: 0;
    position: relative;
    box-shadow: 0px 0px 0px 0px transparent;
  }
  #about-page .link-highlighted:hover{

    top: -2px;
    box-shadow: var(--shadow);
  }
  #about-skills-link:hover {
    color: var(--text-danger) !important;
  }
   #about-portfolio-link {
color: var(--text-warning) !important;
   }
   #about-portfolio-link:hover {
     border-color: var(--text-warning) !important;
   }
   #about-contact-link {
     color: var(--text-important) !important;
   }
   #about-contact-link:hover {
     border-color: var(--text-important) !important;
   }
  // #about-page .link-highlighted {
  //   color: var(--text-color) !important;
  // }
  // #about-page .link-highlighted::after {
  //   content: '';
  //   width: 104%;
  //   height: 4px;
  //   background: var(--text-danger);
  //   z-index: -1;
  //   position: absolute;
  //   bottom: -4px;
  //   left: -2%;
  //   right: 0;
  //   visibility: visible;
  //   opacity: 1;
  // }
  //  #about-page .link-highlighted:hover::after {
  //    height: 110%;
  //  }

  .listItem a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
    transition-duration: var(--default-duration);
    transition-timing-function: cubic-bezier(0.43, 0.77, 0.89, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .listItem span {
    z-index: 10;
  }
  .listItem a::before,
  .listItem a::after {
    content: "";
    position: absolute;
    z-index: 0;
    height: 70%;
    width: 100%;
    transition-delay: 140ms;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
  }
  .listItem a::before {
    /* height: 65%; */
    left: 100%;
    top: 30%;
    transition-delay: 240ms;
    background-color: #3c425c;
  }
  .listItem a::after {
    z-index: 1;
    right: 100%;
    bottom: 30%;
    background-color: #3f4561;
  }

  .listItem a:hover::before {
    left: 0;
  }
  .listItem a:hover::after {
    right: 0;
  }
  .listItem:hover{
    border:1px solid var(--text-danger);
    transition-delay: .4s;
    transition-duration: .5s;
  }
  #next-toggle {
    position: fixed;
    top: 25%;
    right: 0;
    left: auto;
    cursor: pointer;
    z-index: 17;
    height: 50%;
    width: 159px;
    transition: var(--elements-transition);
    transform: rotate(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #previous-toggle {
    position: fixed;
    top: 25%;
    left: 0px;
    right: auto;
    cursor: pointer;
    z-index: 17;
    height: 50%;
    width: 159px;
    transition: var(--elements-transition);
    transform: rotate(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .next-span {
    display: block;
    width: 159px;
    height: 53px;
    border-radius: 25px;
  }
  .previous-span {
    display: block;
    width: 159px;
    height: 53px;
    margin-top: 18px;
    border-radius: 25px;
  }
  .next-toggle-before {
    opacity: 0;
    font-size: 1.5em;
    position: absolute;
    right: -40px;
    width: 130px;
    height: 50px;
       top: 50%;
    transform: translateY(-69%);
    left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
    font-weight: 500;
  }
  .previous-toggle-before {
    opacity: 0;
    font-size: 1.5em;
    position: absolute;
    left: -40px;
    right: auto;
    width: 130px;
    height: 50px;

    top: 50%;
    transform: translateY(-55%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 16;
    font-weight: 500;
  }
  #next-toggle:hover {
    /* width: 170px; */
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: blue; */
  }

  .i1,
  .i2 {
    display: block;
    height: 2px;
    left: 0;
    width: 29px;
    background-color: var(--text-color);
    transition: transform 0.15s cubic-bezier(0.43, 0.77, 0.75, 1);
    transform-origin: top;
  }
  .previous-span:nth-child(n) {
    margin-right: -80px;
  }
  .next-span:nth-child(n) {
    margin-left: 180px;
  }
  #next-toggle .i1 {
    margin-top: 10px;
    transform: rotate(45deg);
  }
  #next-toggle .i2 {
    margin-top: 17px;
    transform: rotate(-45deg);
    transform-origin: bottom;
  }
  .next-toggle-before,
  .previous-toggle-before {
    font-size: 2rem !important;
  }
  #previous-toggle .i1 {
    margin-top: 10px;
    transform: rotate(-45deg);
  }
  #previous-toggle .i2 {
    margin-top: 17px;
    transform: rotate(45deg);
    transform-origin: bottom;
  }
  #navbar-toggle {
    position: fixed;
    top: 37px;
    right: 43px;
    cursor: pointer;
    z-index: 41;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    border-radius: 50%;
    transition-timing-function: var(--default-timing);
  }

  .inner-element {
    height: 2px;
    width: 60%;
    background-color: var(--text-color);
    transition-timing-function: var(--default-timing-navbar);
    transition-duration: 0.14s;
    position: absolute;
  }
  #navbar-icon :nth-child(1) {
    position: absolute;
    top: 38%;
  }
  #navbar-icon :nth-child(2) {
    position: absolute;
    top: 50%;
  }
  #navbar-icon :nth-child(3) {
    position: absolute;
    top: 50%;
  }
  #navbar-icon :nth-child(4) {
    position: absolute;
    top: 62%;
  }

  #navbar-toggle-icon {
    width: 100%;
    height: 100%;
  }

  @keyframes navbar-click {
    0% {
    }
    50% {
    }
    100% {
    }
  }
  /*              /HEADER          */

  /*MAIN            */
  main {
  }
  .scene {
    width: 100vw;
    height: 100vh;
    perspective: 640px;
    overflow: hidden;
  }

  .box {
    width: 100vw;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    transition-duration: var(--default-duration);
    /* transition-delay: var(--default-delay); */
    transition-delay: var(--default-delay);

    transition-timing-function: var(--default-timing);
    /* transition-duration: 3s;
    transition-delay: 2s; */
  }
  .box p {
    font-size: 1.7rem;
  }
  .box__face {
    position: absolute;
    /* border: 6px solid var(--light-blue); */
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    --document-color-darker: var(--page-background-static);
    cursor: auto;
    font-size: inherit !important;
    /* --document-color-darker: rgba(51, 51, 51, 0); */
  }

  .box__face--front,
  .box__face--back {
    width: 100vw;
    height: 100vh;
  }

  .box__face--right,
  .box__face--left {
    width: 100vw;
    height: 100vh;
  }

  .box__face--top,
  .box__face--bottom {
    width: 100vw;
    height: 200vw;
  }

  .box__face--front {
    background: var(--document-color-darker);
  }
  .box__face--right {
    background: var(--document-color-darker);
  }
  .box__face--back {
    background: var(--document-color-darker);
  }
  .box__face--left {
    background: var(--document-color-darker);
  }
  .box__face--top {
    background: var(--document-color-darker);
  }
  .box__face--bottom {
    background: var(--document-color-darker);
  }

  .box__face--front {
    transform: rotateY(0deg) translateZ(0px);
  }
  .box__face--back {
    transform: rotateY(180deg) translateZ(100vw);
  }

  .box__face--right {
    transform: rotateY(90deg) translateZ(50vw) translateX(50vw);
  }
  .box__face--left {
    transform: rotateY(-90deg) translateZ(50vw) translateX(-50vw);
  }

  .box__face--top {
    transform: rotateX(90deg) translateZ(100vw) translateY(-100vw);
  }
  .box__face--bottom {
    transform: rotateX(-90deg) translateZ(75vh) translateY(50vw);
    visibility: hidden;
  }
  .box.show-front {
    transform: translateZ(0px) rotateY(0deg);
  }
  .box.show-back {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
  .box.show-right {
    transform: translateZ(-50vw) translateX(-50vw) rotateY(-90deg);
  }
  .box.show-left {
    transform: translateZ(-50vw) translateX(50vw) rotateY(90deg);
  }
  .box.show-top {
    transform: translateZ(-50vh) translateY(50vh) rotateX(-90deg);
  }
  .box.show-bottom {
    transform: translateZ(-50vh) translateY(-50vh) rotateX(90deg);
  }

  .rotate-right {
    transform: rotateY(-90deg);
  }
  .page-slider {
    width: 500vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw 100vw 100vw 100vw;
    grid-template-rows: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    /* transition-duration: var(--default-duration); */
    transition-duration: var(--default-duration);
    transition-delay: var(--slider-delay);
    transition-timing-function: var(--slider-timing);
  }
  .page-slider section {
    transition-duration: var(--default-duration);
    /* transition-delay: var(--default-delay); */
    transition-delay: var(--slider-delay);
    transition-timing-function: var(--slider-timing);
  }
  .page {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--document-color); */
    position: relative;
  }

  .page-container {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--document-color); */
  }
  .page-bg {
    /* h: 50vw; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    --dark-blue: rgb(18, 39, 71);
    background: var(--page-background);
  }
  .bg-img img {
    position: absolute;
    left: 2%;
    top: 10%;
    width: 15vw;
    height: 15vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    opacity: 0.7;
    animation-name: rotation;
    animation-duration: 45s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes rotation {
    100% {
      transform: rotate(360deg);
    }
  }
  .page-bg-container {
    position: absolute;
    top: -100vh;
    width: 100vw;
    height: 30vh;
    left: 0;
    background-color: var(--page-background);
  }
  .page-bg-bg-container {
    position: absolute;
    top: -100vh;
    width: 32vh;
    height: 100vh;
    left: 0;
    background-color: var(--page-background);
  }

  #box-front {
    transition-delay: 0s;
    transition-duration: 0s;
  }
  #about-page .page-bg {
  }

  #portfolio-page .page-bg {
  }
  #contact-page .page-bg {
  }
  #skills-page .page-bg-bg {
    top: 50vh;
    left: 50vw;
    height: 45vh;
    width: 45vw;
    border-top-right-radius: 150px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 150px;
  }
  #skills-page .page-bg-bg-2 {
    left: 5vw;
    top: 5vh;
    height: 45vh;
    width: 45vw;
    border-top-left-radius: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 150px;
  }
  .page-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
  }

  @keyframes show {
    100% {
      opacity: 0;
    }
  }
  .hidden {
    visibility: hidden;
  }
  .row {
    display: flex;
  }
  /*  about   */
  /*  begin   */
  #about-page {
    left: 100vw;
  }
  #skills-page {

    left: 100vw;
  }
  #portfolio-page {
    left: 100vw;
  }
  #contact-page {
    left: 100vw;
  }
  .card {
    border: none;
    background: rgba(25, 23, 46, 0.6);
  }
  .page-inner {
    background: inherit;
    padding: 0.5em;
    min-height: 30%;
  }
  .page-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    bottom: auto;
  }
  #box-front {
  }

  .row {
    margin: 0 !important;
  }

  /*#portfolio{*/

  /*background-color: var(--document-color)*/
  /*}*/
  /*#contact{*/

  /*background-color:var(--document-color);*/
  /*}*/

  /*              /MAIN           */

  .test-button {
    position: fixed;
    z-index: 50000;
    background: black;
    width: 150px;
    height: 50px;
    top: 50px;
    left: 50px;
    color: white;
    visibility: hidden;
  }
  #about-page {
    font-size: 18px;
  }
  #about-page .page-row {
    background-color: var(--page-background) !important;
  }
  #about-page h1 {
    /* background-color: var(--dark-gray); */
    margin-bottom: 20px !important;
    width: 100%;
    text-align: center;
    color: var(--text-color) !important;
    position: relative;
    top: 0;
    left: 0;
    font-size: 2.1em;
  }
  #about-page p {
    margin: 10px 20px;
    font-size: 1.7rem !important;
    line-height: 2.8rem;
  }

  /* ========================= */
  /* ========= # Skills ======= */
  /* ========================= */
  #skills-page{
    --text-warning:var(--text-danger); /*temporary*/
  }

  #skills-page .page-content {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }

  #skills-page h1,h2 {
    padding: 35px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #skills-title{
//   border:1px solid var(--text-danger);
//   box-shadow: var(--shadow);
  background-color: var(--dark-gray)  !important;
  width:50% !important;
  justify-self: center;
  font-size:3rem;
  }

  #skills-page h1 {
    /* font-size: 1.65em !important; */
    color: var(--text-warning) !important;
    background: var(--light-gray);
    /* width: 40% !important; */
    width: 100%;
    text-align: left;
    /* margin-left: 25px; */
    padding: 25px !important;
    /* padding-bottom: 65px !important; */
    text-transform: capitalize;
    margin: 0 !important;
    display: flex;
    justify-content: center;
  }
  #skills-page .page-row {
    top: 0;
    height: 205vh !important;
    background: var(--page-background-static);
    color: rgb(151, 151, 151) !important;
    --midle-gray: #454545;
    --header-text: var(--midle-gray);
  }
  #skills-page .page-inner {
    height: 100%;
    overflow: visible;
    /* background: var(--color-6); */
  }

  #skills-page h2 {
    font-weight: bold;
    text-transform: capitalize;
    /* background: var(--page-background-static); */
    color: var(--text-warning) !important;
    width: 100% !important;
    /* text-align: left; */
    margin: 0 auto;
    font-size: 1.65rem;
    /* border-bottom: 3px solid var(--dark-gray); */
    max-height: 111px;
  }
  #skiils-page h2 img {
    /* align-self: flex-start; */
  }
  #skills-page h1 .icon-skills {
    width: 75px;
    padding-left: 20px;
  }
  #skills-page h2 .icon-skills {
    margin-left: 15px;
  }

  #skills-page p {
    font-size: 1.4rem !important;
    font-weight: 300;
    text-align: justify;
    /* border-bottom: 1px solid var(--text-warning); */
    padding: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 0;
    line-height: 3rem;
    background: transparent;
    border-radius: var(--el-border-radius);
  }

  .skills-description {
    margin-top: 100px !important;
    border-bottom: none;
    /* background: var(--light-gray); */
  }

  .skills-content {
    height: 39%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 37% 25% auto;
    grid-template-rows: 100%;
    grid-gap: 15px;
    z-index: 100000;
    /* background-color: var(--page-background-static); */
    overflow:visible !important;
  }
  #back-end {
    /* border: 2vw solid var(--page-background-static); */
  }
  #back-end .tools {
    grid-template-columns: 100%;
  }
  .skills-container {
    display: block;
    background: var(--sup-gray) !important;
    color: var(--text-color) !important;
    font-weight: 560;
    overflow: hidden;
    // border: 1px solid var(--text-danger);
    box-shadow: var(--shadow);
    border-radius: 2px;
  }
  .skills-container h2{
    position: relative;
  }
  .skills-container h2::after{
       content: "";
    position: absolute;
    width: 40%;
    left: 30%;
    top: 100%;
    z-index: 10000;
    height: 5px;
    border-radius: 5px;
    background: var(--text-color);
  }
  .contact-icon{
    position: relative;
  }
  .contact-icon::after {
    content: "";
    position: absolute;
    width:14%;
    left:43%;
    top:87%;
    z-index: 10000;
    height: 15px;
    background: var(--text-color);
    display: none;
  }
  .contact-icon img{
    width:65px;
    margin-left:20px;
    display: none;
  }
  .icon-skills {
    height: 100%;
    width: 50px;
    margin-top: -10px;
  }
  .tools {
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 25% 33%;

  }
  .tools img {
    width: 45px;
    height: 45px;
    opacity: 0.74;
  }
  .github-icon {
  }
  .tools figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
  }

  .tools figure:hover {
    transform: scale(1.2);
    color: var(--text-important);
  }
  .tools img {
    justify-self: flex-start;
  }
  .tools figcaption {
    justify-self: flex-end;
  }
  .copyright {
    position: absolute;
    color: var(--text-color) !important;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 25;
    font-size: 0.8rem;
    bottom: 10px;
  }
  #about-page .copyright {
  }
  #skills-page .copyright {
  }
  #back-end img {
  }

  .features {
    border-top: none;
    width: 100%;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    background: var(--dark-gray);
    /* overflow: hidden; */
    margin-top:40px;
  }
  .features h2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .features .feature-intuitive,
  .feature-dynamic {
    /* border-top: 3px solid var(--dark-gray); */
  }
  .features h2 {
    border: none !important;
    padding-bottom: 5px !important;
  }
  .skills-status {
    margin-top: 50px;
    // border: 1px solid var(--text-danger);
    // box-shadow: var(--shadow);
    background: transparent !important;
  }
  .skills-status p {
      background: var(--sup-gray) !important;
      width:100%;
      margin:0 auto;
      border-radius: 2px !important;
      margin-top:20px;
      box-shadow: var(--shadow);
      padding:1.5rem 2rem !important;
  }
  .skills-status h2 {
    // background: var(--light-gray);
    border-bottom: none !important;
    padding-bottom: 0px !important;
    padding-top: 35px !important;
  }
  .features div {
    //background: var(--dark-gray);
    background: var(--sup-gray);
    // border:1px solid var(--text-danger);
    overflow: hidden;
    //box-shadow:var(--shadow-md);
    box-shadow: var(--shadow);
    border-radius: 2px;
  }
  .features img {
    width: 40px;
    margin-left: 10px;
    padding-bottom: 25px;
  }
  /* ========================= */
  /* ========= # Skills end ======= */
  /* ========================= */

  /* ========================= */
  /* ======== # Portfolio ========= */
  /* ========================= */
  #portfolio-page {
    font-size: 16px;
    /* --text-danger:var(--text-warning); */
    color:var(--text-color) !important;
  }
  #portfolio-page .page-inner{
    position: relative;
  }
  #portfolio-page .link-highlighted{
    /* --text-important:var(--text; */
    padding-left:20px;
    padding-right:20px;
    text-decoration: underline !important;
    font-size: 1.1em;

  }

  #portfolio-page .link-highlighted::before,.link-highlighted::after{
  background:var(--light-gray);
  }
  #portfolio-page .page-content {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }
  #portfolio-page .page-inner {
    width: 100%;
    height: 100%;
  }
  .portfolio-description {
    margin-top: 100px;
    text-align: left !important;
    background: var(--dark-gray);
    border-bottom: 3px solid var(--dark-gray);
    z-index: 3;
    position: relative;
  }
  #portfolio-page h1 {
    width: 100%;
    padding: 25px;
    color: var(--text-warning) !important;
    text-align: center;
    font-size:3rem !important;
    border-bottom: 3px solid var(--dark-gray);
  }
  #portfolio-page h1 img{
  margin-left:20px;
  }
  #portfolio-page .icon-skills {
    width: 65px;
  }
  #portfolio-page {
    color: var(--text-warning);
  }
  .portfolio-sections {
  }

  #portfolio-page .page-row {
    height: 230vh !important;
    background: var(--page-background-static) !important;
  }
  .portfolio-folders {
    width: 95%;
    height: 200px;
    display: grid;
    grid-template-columns: 25% 25% auto;
    grid-template-rows: 100%;
    overflow: visible;
    margin: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    color:var(--text-danger);
    font-size:1.15em;
    display: none;

  }
  .folder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px;
    position: relative;
    padding-bottom: none;
  }
  .folder-first {
  }
  .folder h4 {
    cursor: pointer;
    height: 60px;
    font-size: 1em !important;
  }
  .folder img {
    max-width: 120px;
    width: 90px;
    min-width: 60px;
    cursor: pointer;
  }
  .folder a {
    color: inherit;
    text-decoration: underline;
  }
  .selected {
    /* border: 1px solid var(--text-warning); */
    background: var(--sup-gray);
    z-index: 5;
  }
  .selected .folder-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7bc3e426;
    cursor: pointer;
    border: 2px solid var(--text-color);
  }
  .portfolio-content {
    max-height: 63%;
     margin-top: 10px;
    position: relative;
    padding: 30px;
    display: grid;
    grid-template-columns: 48% auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    background: var(--dark-gray);
    overflow: hidden;
    // box-shadow: var(--shadow);
  }
  .hidden-content{
    display: none !important;
    position: absolute !important;
    transition-duration: 0.01s;
  }
  .portfolio-project {
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    // border: 2px solid var(--text-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .portfolio-project img {
    width: 100%;
    height: 75%;
    opacity: 0.5;

    /* padding: 10px !important; */
  }
  .portfolio-project h4 {
    margin:auto;
    font-size: 1.4rem;
    width: 100% !important;
    padding-bottom:5% !important;
    margin-bottom: 0 !important;
    border-bottom: 2px solid var(--text-color);
  }

  .portfolio-project-initial {
    background-color: var(--sup-gray);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    // overflow: hidden;
    box-shadow: var(--shadow-md);
    z-index: 1000;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .portfolio-project-initial h4{
      position: absolute;
      background: var(--sup-gray);
      padding:5px 10px;
        left:0;
      top:0;
      font-weight:800;
      font-size:14px;
      color:var(--text-warning);
    width:100%;
    height:8%;
    text-transform: uppercase;
  }
  .portfolio-project-initial img {
    width: 100%;
    height: 92%;
    margin-top:4%;
    /* padding: 10px !important; */
  }
#project-todolist {
    width:100%;
    opacity: .4;
    height:100%;
    margin:0;
    position: absolute;
}
.key-words{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    grid-gap:10px;
    position: relative;
    padding-left:5px;
    padding-right:5px;
    font-size:1rem;
    width: 70%;
    height:auto;
    top:10%;
    left:15%;
}
.key-words span{
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;

    // background: var(--light-gray);
    color:var(--text-color);
    box-shadow: var(--shadow-md);
    font-weight: 400;
    text-decoration: underline ;
    text-underline-offset: 4px;
    padding: 10px;
    // text-decoration: none !important;
    box-shadow: var(--shadow-md);
}
.more{
    position: absolute !important;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height:150px;
    top:55%;
    left:10%;
    padding: 0 15px;
    transition: 200ms ease-in-out;

    &-btn {
      position: relative;
      transition: inherit;
      width: 45px;
      height: 45px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background: transparent;
      overflow: hidden;
      &:hover {
        transform: scale(1.05);
      }
    }
    .play-btn, .github-btn {
      border-radius: 50%;
      background: rgba(lighten(#A8C780,5%),0.95);
      // box-shadow: 0 0 0 1px #000, var(--shadow);
      &:hover {
        background: lighten(#A8C780, 20%);
      }
    }
    .play-btn{

    }
    .github-btn {

    }
    & .view-more-btn {
      width: auto;
      height: 35px;
      font-size: 90%;
         color: var(--text-color-2);
    text-decoration-color: var(--text-color);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 4px;
    font-weight: 800;
&::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0%;
      transition: inherit;
      bottom: 0;

      left: 0;
      background: rgba(#A8C780, 0.2);
    }
    & span {
      position: relative;
      z-index: 10;
    }
    &:hover {
      text-decoration: none !important;
        // color: var(--dark-gray);
    }
    &:hover::before {
      height: 100%;
    }
    &::after {
      transition: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background: var(--text-color-2);
      bottom: 0%;
      left: 0;
      z-index: 1;
    }

    & h5{

    z-index: 10;
    }
    }


}

  .object-icons{
    justify-self: flex-end;
    border:none !important;
    position: absolute;
    width:100%;
    display: flex;
    height:30%;
    opacity: 1 !important;
    top:53%;
  }
  .object-icon{
    margin:15px;
    border: none !important;
    width:40px !important;
    height: 40px !important;
    opacity: .85 !important;
  }
  .portfolio-project h4 span {

  }

  .portfolio-project:hover::before {
    opacity: 1;
  }
  .selected-file {
  }
  .object-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:70%;
    left:0%;
    width: 100%;
    height: 100%;
    background-size:cover;
    background: var(--dark-gray);
    transition-duration: .25s;
    transition-timing-function: ease-in;
    border-top: 2px solid var(--text-color);

  }
  .object-description-initial{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    background: #000;
    transition-duration: .25s;
    transition-timing-function: ease-in;
    text-decoration: none !important;
    z-index: 100000000;
    transform:translateY(-3%) translateX(-3%);
    opacity: 0;
    pointer-events: none;

    overflow: hidden;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.4);
  }
  .object-description-initial.hover {
      opacity: 1;

      pointer-events: all;
      transform: translateY(1%) translateX(1%);
  }
  .object-description-initial img {
    width: 100%;
    height:100%;
    margin-top:4%;
    /* padding: 10px !important; */
  }
  .object-description h5{
    padding-top:25px;
    height:27%;
  }
  .about-name-container {
    position: relative;
    // text-align: left !important;
  }

.about-name-container span {
  font-size: 3.5rem ;
  position: relative;
}

  .name-span {
    color: var(--text-color-2);
  }
  /* .object-description div{
    display: block;
    position: relative;
    bottom:65%;
    left:75%;
    width: 100px;
    height: 100px;
    background:  url(/icons/new-window.png);
    background-size:cover;
  } */

  /* ========================= */
  /* ========================= */
  /* ========================= */


  /* ========================= */
  /* ======== # Contact-page =======*/
  /* ========================= */
  #contact-page .page-content{
    overflow-x: scroll;
  }
  #contact-page .page-row{
    height:100vh;
    background: var(--page-background-static);
  }
  #contact-page .page-inner {
    height: 100%;
    overflow: hidden ;
    /* background: var(--color-6); */
  }
  #contact-page h1{
    padding:25px;
    color:var(--text-important) !important;
    border-bottom:3px solid var(--dark-gray);
    background-color: var(--dark-gray);
    font-size:3rem;
  }
  .contact-content{
    margin-top:100px;
    width:100%;
    height:70%;
    background: var(--dark-gray);
    // box-shadow: var(--shadow);
  }
  .contact-links{
    display:grid;
    grid-template-columns: 49% 50%;
    grid-template-rows: 100%;
    grid-gap:10px;
    height:80%;
    width:98%;
    overflow: visible;
    margin-left:10px;
    margin-right:10px;
  }
  .contact-link{
    position: relative;
        display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-link img{
    width:40px !important;
    height:40px !important;
    z-index: 2;
    background-size: cover;
    position: relative;
  }
    .links .contact-link::after {
      content: '';
      position: absolute;
      top: calc(50%-20px);
      left: calc(50%-20px);
      width: 35px;
      height: 35px;
    background:var(--text-important);
    border-radius: 50%;
    z-index: 1;
    }
  .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;

    background: var(--sup-gray);
    box-shadow: var(--shadow);
    border-radius: 3px;
  }
  .email p{
    color:var(--text-danger) !important;
    display: none;
  }
  .email:hover{
    font-weight: 500;
    color:var(--text-danger);
    background-color: var(--text-important);
    transition-duration: .5s;
  }
  .email img{
    width:150px !important;
    height: 120px !important;
      background:transparent;
  }
  .links{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 49% 49%;
    grid-gap:13px;
    overflow: visible !important;
  }
  .links .contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sup-gray);
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: var(--shadow);
    border-radius: 3px;
  }
  .links .contact-link:hover{
    background: var(--text-important);
    transition-duration: .5s;
  }

  /*.contact-link[title]:hover:after {
     content: attr(title);
    position: absolute;
    color:var(--text-danger);
    font-size: 2rem;
    background: var(--dark-gray);
    padding:10px;
    border-radius:5px;
    bottom:100%;
    width:70%;
    left:0;
  } */
  /* ========================= */
  /* ======== @Media ========= */
  /* ========================= */
  /* Extra small devices (portrait phones, less than 576px) */

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 1199.98px) {
  }
  @media (max-height: 1199.98px) {
  }
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 1025.98px) {
    .portfolio-content {
      height: 90%;
      grid-template-columns: 90%;
      grid-template-rows: repeat(5,20%);
      padding-left:10%;
      padding-top: 60px;
      padding-bottom:80px;
    }
    .skills-description {
      margin-top: 100px !important;
    }
    #back-end {
    }
    #other {
    }
    #front-end {
    }

    .tools {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 40% 40%;
    }
    #skills-page .page-row {
      height: 150vh !important;
    }
    #skills-page p {
      font-size: 1.4rem;
    }
    .skills-content {
      height: 60% !important;
      grid-template-columns: 100%;
      grid-template-rows: 33% 22% 33%;
      /* grid-gap: 40px; */
    }
    #other .tools {
      /* margin-top: 54px; */
    }
    #other h2 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-height: 655.98px) {
    #skills-page .page-row {
      height: 320vh !important;
    }
  }
  /* Large devices (desktops, less than 1200px) */

  @media (max-width: 769.98px) {
    .contact-links{
      grid-template-rows: 49% 49%;
      grid-template-columns: 96%;
      margin-left: 0px;
    }
    .email {
      grid-column: 1/3;
    }
    #portfolio-page .page-row {
      height:230vh !important;
    }
    .portfolio-content {
      height: 70%;
      grid-template-columns: 90%;
      grid-template-rows: repeat(5,20%);
      padding-left:10%;
      padding-top: 60px;
      padding-bottom:80px;
    }
    .portfolio-folders{
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 100%;
    }
    .features {
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
      /* grid-gap: 40px; */
    }
    .feature-dynamic,
    .feature-intuitive {
      border-top: 3px var(--dark-gray) solid;
    }
    #skills-page .copyright {
    }
    h1 {
      font-size: 1.86em;
    }
    #skills-page .page-row {
      height: 270vh !important;
    }
    #skills-page p {
      font-size: 1.2rem !important;
    }
    /* #skills-page .page {
      height: 100%;
    }
    #skills-page {
    } */
    #skills-page .skills-content {
        margin-top: 15px;
      /* height: 250vh; */
    }

    .tools {
      grid-template-columns: 33% 33% 33% !important;
      grid-template-rows: 45% 30% !important;
    }

    #other .tools {
      margin-top: 20px !important;
    }
    #nav {
      font-size: 1.9rem;
      /* min-height: 100vh; */
    }
    #navbar-toggle {
      box-shadow: 0 0 12px 2px rgba(0,0,0,.2);
      background: rgba(#7bc3e4, 0.2);
      // border:1px solid var(--text-color);

       top: auto;
      bottom: 50px;
      right: calc(50% - 30px);
    }
    #next-toggle {
      display: none;
    }
    .page-inner {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
  }
  @media (max-width: 1024.98px) and (max-height: 760px) {
    #skills-page .page-row {
      height: 320vh !important;
    }
  }
  @media (max-width: 575.98px) {
    .portfolio-content {
      grid-template-columns: 100%;
      padding-left:5%;
      padding-top: 60px;
      padding-bottom:80px;
      margin-left:none;
    }
    .portfolio-folders{
      grid-template-columns: 45% 40%;
      grid-template-rows: 100%;
    }
    .object-description h5{
      padding-top:5px !important;
    }
    .features {
      grid-template-rows: 50% 50%;
      grid-template-columns: 48% 48%;
      /* grid-gap: 40px; */
    }
    .feature-responsive {
      /* border-top: 3px solid var(--dark-gray) !important; */
    }
    #nav {
      min-height: 100vh;
    }
    .copyright {
    }
    #other h2 {
      display: inline-block;
      padding-bottom: 0 !important;
    }
    #about-page p {
      font-size: 1.1rem !important;
      margin: 5px 0 !important;

    }
    #next-toggle {
      display: none;
    }
    #previous-toggle {
      display: none;
    }
    .page-inner {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
    .tools img {
      width: 45px;
      height: 45px;
    }
    #skills-page .page-row {
      height: 375vh !important;
    }
    .skills-content {
      height: 73% !important;
    }
    .tools {
      grid-template-columns: 50% 50%;
      /* grid-template-rows: ; */
    }

    #skills-page h1 {
      font-size: 1.66em;
    }
    #skills-page h2 {
      font-size: 1.36em;
    }
    .skills-description p {
      font-size: 1.15rem !important;
    }
    .skills-description {
      margin-top: 50px !important;
    }
  }
  @media (max-width: 412.98px) {
   .contact-content{
     height:80%;
   }
    .contact-content{
      margin-top:50px;
    }
    #portfolio-page .page-row {
      height: 280vh !important;
    }
    .object-icons{
      display: none;
    }
    .portfolio-content {
      height:70%;
      grid-template-columns: 100%;
      padding-left:30px;
      padding-top: 60px;
      padding-bottom:80px;
    }
    .portfolio-folders{
      margin-left:10px;
      grid-template-columns:48% auto;
      grid-template-rows: 100%;
    }
    #skills-page .page-row {
      height: 450vh !important;
    }
    .skills-content {
      height: 72% !important;
    }
    #back-end img {
    }
  }

  @media (max-width: 321.98px) {
    #contact-page p{
      font-size:1.2rem !important;
    }
    .contact-content{
      height:90%;
    }
     .contact-content{
       margin-top:20px;
     }
    #portfolio-page .page-row {
      height: 290vh !important;
    }
    .portfolio-content {
      height: 67%;
    }
    #portfolio-page{
      font-size:12px !important;
    }
    .object-icons{
      display: none;
    }
    #portfolio-page h4,h5{
      font-size:1rem;
    }
    .object-description h5 {
      padding:10px;
    }
    #skills-page .page-row {
      height: 490vh !important;
    }
    .skills-content {
      height: 64% !important;
    }
    .tools {
      font-size: 0.85em;
    }
  }


  .link-highlighted {
    cursor: pointer;
    transition: var(--elements-transition-slow);
    z-index: 25;
    text-decoration: none !important;
    color: var(--text-danger) !important;
    position: relative;
    font-weight: 440;
  }
  .link-highlighted:visited {
    color: var(--text-danger) !important;
  }
  .link-highlighted:hover {
    color: var(--text-important) !important;
  }
  .link-highlighted::before,
  .link-highlighted::after {
    content: "";
    position: absolute;
    z-index: -1;
    height: 70%;
    width: 0%;

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
  }
  .link-highlighted::before {
    /* height: 65%; */
    z-index: -1;
    left: 0;
    top: 30%;
    transition-delay: 100ms;
    background-color: #32384d; /* var(--text-warning)  #fab341 */
  }
  .link-highlighted::after {
    z-index: -1;
    right: 0;
    bottom: 30%;
    background-color: #3c425c; /* #eaf36e */
  }
  .link-highlighted:hover::before {
    opacity: 1;
    left: 0;
    width: 100%;
  }
  .link-highlighted:hover::after {
    right: 0;
    opacity: 1;
    width: 100%;
  }
  .link-highlighted:hover {
    /* color: white !important; */
    transition-delay: 250ms;
    /* color: var(--text-important) !important; */
  }
  /*!*  about   *!*/
  /*!*  end   *!*/
